[WAGON-121] wagon-http does not MKCOL for missing parent resources during deploy

**[Matthew Daniel](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=mdaniel)** opened **[WAGON-121](https://issues.apache.org/jira/browse/WAGON-121?redirect=false)** and commented

Please see MNG-1580 and

When trying to deploy using wagon-http, it does not understand the concept of parent directories and just issues a blind PUT with the resource URI. Further to the user's confusion, it does not report a helpful message but "Access denided" which is 100% not true.

> [DEBUG] Trace
> org.apache.maven.lifecycle.LifecycleExecutionException: Error deploying artifact        at org.apache.maven.lifecycle.DefaultLifecycleExecutor.executeGoals(DefaultLifecycleExecutor.java:556)
> at org.apache.maven.lifecycle.DefaultLifecycleExecutor.executeGoalWithLifecycle(DefaultLifecycleExecutor.java:472)
> at org.apache.maven.lifecycle.DefaultLifecycleExecutor.executeGoal(DefaultLifecycleExecutor.java:451)
> at org.apache.maven.lifecycle.DefaultLifecycleExecutor.executeGoalAndHandleFailures(DefaultLifecycleExecutor.java:303)
> at org.apache.maven.lifecycle.DefaultLifecycleExecutor.executeTaskSegments(DefaultLifecycleExecutor.java:270)
> at org.apache.maven.lifecycle.DefaultLifecycleExecutor.execute(DefaultLifecycleExecutor.java:139)
> at org.apache.maven.DefaultMaven.doExecute(DefaultMaven.java:322)
> at org.apache.maven.DefaultMaven.execute(DefaultMaven.java:115)
> at org.apache.maven.cli.MavenCli.main(MavenCli.java:249)
> at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
> at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:39)
> at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:25)
> at java.lang.reflect.Method.invoke(Method.java:585)
> at org.codehaus.classworlds.Launcher.launchEnhanced(Launcher.java:315)
> at org.codehaus.classworlds.Launcher.launch(Launcher.java:255)
> at org.codehaus.classworlds.Launcher.mainWithExitCode(Launcher.java:430)        at org.codehaus.classworlds.Launcher.main(Launcher.java:375)
> Caused by: org.apache.maven.plugin.MojoExecutionException: Error deploying artifact
> at org.apache.maven.plugin.deploy.DeployMojo.execute(DeployMojo.java:160)
> at org.apache.maven.plugin.DefaultPluginManager.executeMojo(DefaultPluginManager.java:415)
> at org.apache.maven.lifecycle.DefaultLifecycleExecutor.executeGoals(DefaultLifecycleExecutor.java:531)
> ... 16 more
> Caused by: org.apache.maven.artifact.deployer.ArtifactDeploymentException: Error deploying artifact: Authorization failed: Access denided to: http://servername/path/to/a/non-existant/1.5-SNAPSHOT/artifactid-1.5-20060209.202937-1.jar
> at org.apache.maven.artifact.deployer.DefaultArtifactDeployer.deploy(DefaultArtifactDeployer.java:91)
> at org.apache.maven.plugin.deploy.DeployMojo.execute(DeployMojo.java:148)
> ... 18 more
> Caused by: org.apache.maven.wagon.TransferFailedException: Authorization failed: Access denided to: http://servername/path/to/a/non-existant/1.5-SNAPSHOT/artifactid-1.5-20060209.202937-1.jar
> at org.apache.maven.artifact.manager.DefaultWagonManager.putRemoteFile(DefaultWagonManager.java:215)
> at org.apache.maven.artifact.manager.DefaultWagonManager.putArtifact(DefaultWagonManager.java:109)
> at org.apache.maven.artifact.deployer.DefaultArtifactDeployer.deploy(DefaultArtifactDeployer.java:77)
> ... 19 more
> Caused by: org.apache.maven.wagon.authorization.AuthorizationException: Access denided to: http://servername/path/to/a/non-existant/1.5-SNAPSHOT/artifactid-1.5-20060209.202937-1.jar
> at org.apache.maven.wagon.providers.http.HttpWagon.put(HttpWagon.java:202)
> at org.apache.maven.artifact.manager.DefaultWagonManager.putRemoteFile(DefaultWagonManager.java:180)
> ... 21 more



---

1 votes, 4 watchers


**[Darren Hartford](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=dhartford)** commented

Confirm lack of MKCOL issue, tested on Fedora Core 5/Apache2.2 DAV w/ wagon 1.0-alpha-6.


**[Darren Hartford](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=dhartford)** commented

This is where someone else needs to speak up - can the http PUT method be used to create directory/collections? Or can POST support something like that?

If not, required to call a WebDAV method MKCOL.  If that is the case, you can use this snippet to get things moving forward.  All it does is make a MkColMethod instead of the PutMethod for use with httpclient.

/* apache licensed, distribute at will
`@author` dhartford
*/

    String[] parts = resourceName.split("/");
    for (int i = 0; i < (parts.length - 1); i++) {
         url = url + "/" + parts[i];
         System.out.println(url);
         EntityEnclosingMethod mkcol = new EntityEnclosingMethod(url){
              public String getName() {
                   // TODO Auto-generated method stub
                   return "MKCOL";
                                      }			
         };
              try {
              client.executeMethod(mkcol);
         } catch (HttpException e) {
              // TODO Auto-generated catch block
              e.printStackTrace();
         } catch (IOException e) {
              // TODO Auto-generated catch block
              e.printStackTrace();
         }
    }



**[Matthew Daniel](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=mdaniel)** commented

> Confirm lack of MKCOL issue, tested on Fedora Core 5/Apache2.2 DAV w/ wagon 1.0-alpha-6.

Oh, sorry, I saw "lack of issue" and thought you were confirming that I was crazy. :-)

That code snippet (at least at a cursory glance) looks like it would do the job, but it can't do that with an existing URI (at least according to section 8.3.1 of RFC 2518). There is one school of thought that says try to PUT the artifact, and **check the damn response code**. If it needs a MKCOL, try the whole URI and **check the damn response code** for 409 and the walk the URI like you suggested. Oh, and while walking the URI, maybe the code should check the response code from time to time.

That part about "access denided" really raises my blood pressure because it's not just wrong, it's misleading.


**[Darren Hartford](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=dhartford)** commented

I tried testing with PUT first while watching the response codes, but at least with Apache 2.2, the PUT will only put file, not a directory (I plead ignorance to the PUT method).

So when trying to walk:
/mygroupid/artifactid/version/actual-file

mygroupid is always PUT as a file, and can't seem to figure a way to force it to a directory/collection structure.  I swapped gears and using the wagon-webdav directly now instead of messing with the http-wagon (I had some issues earlier with figuring out HOW to use wagon-webdav, aka \<url>dav:http://server/repo\</url>).

I think someone needs to identify if the wagon-http and wagon-httplightweight should be designed for PUT, or are only get-style transports -- and then some (even poor) documentation is definately needed to balance user-expectations with code-functionality.
-D


**[Matthew Daniel](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=mdaniel)** commented

I encourage you (or whoever is working on the actual code) to read RFC 2518 (available from webdav.org). It's short and to the point, if one is already familiar with HTTP/1.1.

There in an issue surrounding webdav-wagon being a 2nd-class citizen in M2 that I filed as MNG-1580. It seems that I am the only person using DAV as my transport mechanism, and thus, it gets pushed back every release. :-(

Thank you for looking into this.


**[Carlos Sanchez Gonzalez](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=carlos)** commented

I think you are mixing things here.
Try wagon-webdav http://maven.apache.org/wagon/wagon-providers/wagon-webdav/index.html


**[Darren Hartford](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=dhartford)** commented

Unfortunately, not mixing those two - HTTP server does not mean WebDAV, and the Wagon-HTTP transports do **not** have a way to create directories/collections right now (similar to MKCOL in WebDAV).

*Either find a way to create directory/collection through standard HTTP REST methods.

or

*Document that the wagon-HTTP/http-lightweight is for GET-style transport only, not PUT/POSTing artifacts and sites.

my two coppers,
-D


**[Carlos Sanchez Gonzalez](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=carlos)** commented

Like what is at http://maven.apache.org/wagon/wagon-providers/wagon-http/ ?


**[Joakim Erdfelt](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=joakime)** commented

Closed as "Wont Fix"

If you require MKCOL support, use wagon-webdav.

* Wagon HTTP has been documented as not supporting deploy.
* Wagon HTTP supports the HTTP 1.1 spec - http://www.ietf.org/rfc/rfc2616.txt
* Wagon WebDAV supports the WebDAV **extensions** to HTTP 1.1 - http://www.ietf.org/rfc/rfc2518.txt
* HTTP 1.1 spec makes no mention of MKCOL.
* WebDAV spec is where MKCOL support begins.
* If you want MKCOL support use it in wagon-webdav.



**[Jordi Deu-Pons](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=jordeu)** commented

Hi,

I have this problem with the current wagon-webdav version.

It sends only one MKCOL for the first ancestor. Like:

MKCOL /repository/org/intogen/intogen-data/0.1-SNAPSHOT

If the folder /repository/org/intogen/intogen-data don't exist then the maven deploy is going to fail. If I create the folder then the maven deploy works fine.

I checked the current WebDAV specifications:
http://www.webdav.org/specs/rfc4918.html#METHOD_MKCOL

It saids:

"During MKCOL processing, a server MUST make the Request-URI an internal member of its parent collection, unless the Request-URI is "/". If no such ancestor exists, the method MUST fail"

So I understand that is the wagon-webdav who has to create all the ancestors if they don't exist.

I'm using OpenKM (that uses jackrabbit) as a WebDAV server. May be other servers had different behaviours in this case.

Thanks.
