[WAGON-486] Wagon fails to download artifacts if number of dropped pooled connections (by intermediate) are greater than default retry count

**[Martin Myslík](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=m.myslik)** opened **[WAGON-486](https://issues.apache.org/jira/browse/WAGON-486?redirect=false)** and commented

I was recently discussing and issue with Atlassian team concerning failing build on Atlassian Pipelines when running Maven build for more than 5 minutes.

The issue was with NAT timeout which kills all idle connections after 5 mintues and Maven does not try to reconnect once the connection is killed (and hence cannot download artifacts from Maven central).

Please, take a look at the open issue (it contains more detailed description and also comments from Atlassian which suggested opening an issue with Maven): https://bitbucket.org/site/master/issues/13988/pipelines-kills-idle-maven-connections

Could you, please, take a minute and explain how could proceed with solving this issue? I am not sure whether this is something that Maven should handle or whether it is Atlassians issue.

Thank you for your input.

This is the link to my public repo with test project running tests for 15 mintues. This build fails on Pipelines because of Maven connection that is being killed during the test: https://bitbucket.org/Smedzlatko/del-me


---

**Affects:** 3.1.0

**Attachments:**
- [build-failure-maven-3.5.0-patched-debug.txt](https://issues.apache.org/jira/secure/attachment/12861874/build-failure-maven-3.5.0-patched-debug.txt) (_3.58 MB_)
- [build-failure-maven-3.5.0-patched-debug-updated.txt](https://issues.apache.org/jira/secure/attachment/12861889/build-failure-maven-3.5.0-patched-debug-updated.txt) (_3.55 MB_)
- [build-failure-vanilla.txt](https://issues.apache.org/jira/secure/attachment/12861687/build-failure-vanilla.txt) (_757.30 kB_)
- [build-success-keep-alive-false.txt](https://issues.apache.org/jira/secure/attachment/12861688/build-success-keep-alive-false.txt) (_950.56 kB_)
- [build-success-maven-3.5.0-patched-debug.txt](https://issues.apache.org/jira/secure/attachment/12862021/build-success-maven-3.5.0-patched-debug.txt) (_4.72 MB_)
- [build-success-pooling-false.txt](https://issues.apache.org/jira/secure/attachment/12861689/build-success-pooling-false.txt) (_857.57 kB_)
- [dump.pcap](https://issues.apache.org/jira/secure/attachment/12862265/dump.pcap) (_42.90 MB_)
- [dump-failed-build.pcap](https://issues.apache.org/jira/secure/attachment/12862289/dump-failed-build.pcap) (_28.44 MB_)

**Issue Links:**
- [WAGON-531](https://issues.apache.org/jira/browse/WAGON-531) Add default TTL for HTTP connections
 (_**"depends upon"**_)

**Remote Links:**
- [Good read on Stackoverflow
](http://stackoverflow.com/q/1480236/696632)

2 votes, 11 watchers


**[Karl Heinz Marbaise](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=khmarbaise)** commented

Is this happening on an open source project? Cause you are using Maven central directly ?


**[Martin Myslík](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=m.myslik)** commented

It is happening on Atlassian Pipelines (https://confluence.atlassian.com/bitbucket/bitbucket-pipelines-792496469.html). But the issue is generally with AWS NAT configuration and Maven not being able to handle connections that are killed by it.

I am basically running 'mvn install' which first donwloads all necessary dependencies, runs tests for 15 mintues and then triggers an additional phase which needs more artifacts from Maven central but the build fails because the connection has been killed in the meantime. I am able to make it work by using 'mvn -Dmaven.wagon.http.pool=false clean install' but that just seems like a dirty hack.


**[Thomas Turrell-Croft](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=thomas_turrell)** commented

Log message of example failed build.

https://bitbucket.org/Smedzlatko/del-me/addon/pipelines/home#!/results/%7B43b830ef-0047-44d0-9020-f2f1695b00d6%7D

The example has a test which simply put the current thread to sleep.

The full stack trace:
Failed to execute goal org.apache.maven.plugins:maven-jar-plugin:2.6:jar (default-jar) on project del-me: Execution default-jar of goal org.apache.maven.plugins:maven-jar-plugin:2.6:jar failed: Plugin org.apache.maven.plugins:maven-jar-plugin:2.6 or one of its dependencies could not be resolved: Failed to collect dependencies at org.apache.maven.plugins:maven-jar-plugin:jar:2.6 -> org.apache.maven:maven-core:jar:2.2.1 -> org.apache.maven.reporting:maven-reporting-api:jar:2.2.1: Failed to read artifact descriptor for org.apache.maven.reporting:maven-reporting-api:jar:2.2.1: Could not transfer artifact org.apache.maven.reporting:maven-reporting-api:pom:2.2.1 from/to central (https://repo.maven.apache.org/maven2): Connection reset -> [Help 1]
org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal org.apache.maven.plugins:maven-jar-plugin:2.6:jar (default-jar) on project del-me: Execution default-jar of goal org.apache.maven.plugins:maven-jar-plugin:2.6:jar failed: Plugin org.apache.maven.plugins:maven-jar-plugin:2.6 or one of its dependencies could not be resolved: Failed to collect dependencies at org.apache.maven.plugins:maven-jar-plugin:jar:2.6 -> org.apache.maven:maven-core:jar:2.2.1 -> org.apache.maven.reporting:maven-reporting-api:jar:2.2.1
at org.apache.maven.lifecycle.internal.MojoExecutor.execute(MojoExecutor.java:212)
at org.apache.maven.lifecycle.internal.MojoExecutor.execute(MojoExecutor.java:153)
at org.apache.maven.lifecycle.internal.MojoExecutor.execute(MojoExecutor.java:145)
at org.apache.maven.lifecycle.internal.LifecycleModuleBuilder.buildProject(LifecycleModuleBuilder.java:116)
at org.apache.maven.lifecycle.internal.LifecycleModuleBuilder.buildProject(LifecycleModuleBuilder.java:80)
at org.apache.maven.lifecycle.internal.builder.singlethreaded.SingleThreadedBuilder.build(SingleThreadedBuilder.java:51)
at org.apache.maven.lifecycle.internal.LifecycleStarter.execute(LifecycleStarter.java:128)
at org.apache.maven.DefaultMaven.doExecute(DefaultMaven.java:307)
at org.apache.maven.DefaultMaven.doExecute(DefaultMaven.java:193)
at org.apache.maven.DefaultMaven.execute(DefaultMaven.java:106)
at org.apache.maven.cli.MavenCli.execute(MavenCli.java:863)
at org.apache.maven.cli.MavenCli.doMain(MavenCli.java:288)
at org.apache.maven.cli.MavenCli.main(MavenCli.java:199)
at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
at java.lang.reflect.Method.invoke(Method.java:498)
at org.codehaus.plexus.classworlds.launcher.Launcher.launchEnhanced(Launcher.java:289)
at org.codehaus.plexus.classworlds.launcher.Launcher.launch(Launcher.java:229)
at org.codehaus.plexus.classworlds.launcher.Launcher.mainWithExitCode(Launcher.java:415)
at org.codehaus.plexus.classworlds.launcher.Launcher.main(Launcher.java:356)
Caused by: org.apache.maven.plugin.PluginExecutionException: Execution default-jar of goal org.apache.maven.plugins:maven-jar-plugin:2.6:jar failed: Plugin org.apache.maven.plugins:maven-jar-plugin:2.6 or one of its dependencies could not be resolved: Failed to collect dependencies at org.apache.maven.plugins:maven-jar-plugin:jar:2.6 -> org.apache.maven:maven-core:jar:2.2.1 -> org.apache.maven.reporting:maven-reporting-api:jar:2.2.1
at org.apache.maven.plugin.DefaultBuildPluginManager.executeMojo(DefaultBuildPluginManager.java:106)
at org.apache.maven.lifecycle.internal.MojoExecutor.execute(MojoExecutor.java:207)
... 20 more
Caused by: org.apache.maven.plugin.PluginResolutionException: Plugin org.apache.maven.plugins:maven-jar-plugin:2.6 or one of its dependencies could not be resolved: Failed to collect dependencies at org.apache.maven.plugins:maven-jar-plugin:jar:2.6 -> org.apache.maven:maven-core:jar:2.2.1 -> org.apache.maven.reporting:maven-reporting-api:jar:2.2.1
at org.apache.maven.plugin.internal.DefaultPluginDependenciesResolver.resolveInternal(DefaultPluginDependenciesResolver.java:214)
at org.apache.maven.plugin.internal.DefaultPluginDependenciesResolver.resolve(DefaultPluginDependenciesResolver.java:149)
at org.apache.maven.plugin.internal.DefaultMavenPluginManager.createPluginRealm(DefaultMavenPluginManager.java:400)
at org.apache.maven.plugin.internal.DefaultMavenPluginManager.setupPluginRealm(DefaultMavenPluginManager.java:372)
at org.apache.maven.plugin.DefaultBuildPluginManager.getPluginRealm(DefaultBuildPluginManager.java:231)
at org.apache.maven.plugin.DefaultBuildPluginManager.executeMojo(DefaultBuildPluginManager.java:102)
... 21 more
Caused by: org.eclipse.aether.collection.DependencyCollectionException: Failed to collect dependencies at org.apache.maven.plugins:maven-jar-plugin:jar:2.6 -> org.apache.maven:maven-core:jar:2.2.1 -> org.apache.maven.reporting:maven-reporting-api:jar:2.2.1
at org.eclipse.aether.internal.impl.DefaultDependencyCollector.collectDependencies(DefaultDependencyCollector.java:291)
at org.eclipse.aether.internal.impl.DefaultRepositorySystem.collectDependencies(DefaultRepositorySystem.java:316)
at org.apache.maven.plugin.internal.DefaultPluginDependenciesResolver.resolveInternal(DefaultPluginDependenciesResolver.java:202)
... 26 more
Caused by: org.eclipse.aether.resolution.ArtifactDescriptorException: Failed to read artifact descriptor for org.apache.maven.reporting:maven-reporting-api:jar:2.2.1
at org.apache.maven.repository.internal.DefaultArtifactDescriptorReader.loadPom(DefaultArtifactDescriptorReader.java:282)
at org.apache.maven.repository.internal.DefaultArtifactDescriptorReader.readArtifactDescriptor(DefaultArtifactDescriptorReader.java:198)
at org.eclipse.aether.internal.impl.DefaultDependencyCollector.resolveCachedArtifactDescriptor(DefaultDependencyCollector.java:535)
at org.eclipse.aether.internal.impl.DefaultDependencyCollector.getArtifactDescriptorResult(DefaultDependencyCollector.java:519)
at org.eclipse.aether.internal.impl.DefaultDependencyCollector.processDependency(DefaultDependencyCollector.java:409)
at org.eclipse.aether.internal.impl.DefaultDependencyCollector.processDependency(DefaultDependencyCollector.java:363)
at org.eclipse.aether.internal.impl.DefaultDependencyCollector.process(DefaultDependencyCollector.java:351)
at org.eclipse.aether.internal.impl.DefaultDependencyCollector.doRecurse(DefaultDependencyCollector.java:504)
at org.eclipse.aether.internal.impl.DefaultDependencyCollector.processDependency(DefaultDependencyCollector.java:458)
at org.eclipse.aether.internal.impl.DefaultDependencyCollector.processDependency(DefaultDependencyCollector.java:363)
at org.eclipse.aether.internal.impl.DefaultDependencyCollector.process(DefaultDependencyCollector.java:351)
at org.eclipse.aether.internal.impl.DefaultDependencyCollector.collectDependencies(DefaultDependencyCollector.java:254)
... 28 more
Caused by: org.eclipse.aether.resolution.ArtifactResolutionException: Could not transfer artifact org.apache.maven.reporting:maven-reporting-api:pom:2.2.1 from/to central (https://repo.maven.apache.org/maven2): Connection reset
at org.eclipse.aether.internal.impl.DefaultArtifactResolver.resolve(DefaultArtifactResolver.java:444)
at org.eclipse.aether.internal.impl.DefaultArtifactResolver.resolveArtifacts(DefaultArtifactResolver.java:246)
at org.eclipse.aether.internal.impl.DefaultArtifactResolver.resolveArtifact(DefaultArtifactResolver.java:223)
at org.apache.maven.repository.internal.DefaultArtifactDescriptorReader.loadPom(DefaultArtifactDescriptorReader.java:267)
... 39 more
Caused by: org.eclipse.aether.transfer.ArtifactTransferException: Could not transfer artifact org.apache.maven.reporting:maven-reporting-api:pom:2.2.1 from/to central (https://repo.maven.apache.org/maven2): Connection reset
at org.eclipse.aether.connector.basic.ArtifactTransportListener.transferFailed(ArtifactTransportListener.java:43)
at org.eclipse.aether.connector.basic.BasicRepositoryConnector$TaskRunner.run(BasicRepositoryConnector.java:355)
at org.eclipse.aether.util.concurrency.RunnableErrorForwarder$1.run(RunnableErrorForwarder.java:67)
at org.eclipse.aether.connector.basic.BasicRepositoryConnector$DirectExecutor.execute(BasicRepositoryConnector.java:581)
at org.eclipse.aether.connector.basic.BasicRepositoryConnector.get(BasicRepositoryConnector.java:249)
at org.eclipse.aether.internal.impl.DefaultArtifactResolver.performDownloads(DefaultArtifactResolver.java:520)
at org.eclipse.aether.internal.impl.DefaultArtifactResolver.resolve(DefaultArtifactResolver.java:421)
... 42 more
Caused by: org.apache.maven.wagon.TransferFailedException: Connection reset
at org.apache.maven.wagon.providers.http.AbstractHttpClientWagon.fillInputData(AbstractHttpClientWagon.java:1066)
at org.apache.maven.wagon.providers.http.AbstractHttpClientWagon.fillInputData(AbstractHttpClientWagon.java:960)
at org.apache.maven.wagon.StreamWagon.getInputStream(StreamWagon.java:116)
at org.apache.maven.wagon.StreamWagon.getIfNewer(StreamWagon.java:88)
at org.apache.maven.wagon.StreamWagon.get(StreamWagon.java:61)
at org.eclipse.aether.transport.wagon.WagonTransporter$GetTaskRunner.run(WagonTransporter.java:560)
at org.eclipse.aether.transport.wagon.WagonTransporter.execute(WagonTransporter.java:427)
at org.eclipse.aether.transport.wagon.WagonTransporter.get(WagonTransporter.java:404)
at org.eclipse.aether.connector.basic.BasicRepositoryConnector$GetTaskRunner.runTask(BasicRepositoryConnector.java:447)
at org.eclipse.aether.connector.basic.BasicRepositoryConnector$TaskRunner.run(BasicRepositoryConnector.java:350)
... 47 more
Caused by: java.net.SocketException: Connection reset
at java.net.SocketInputStream.read(SocketInputStream.java:210)
at java.net.SocketInputStream.read(SocketInputStream.java:141)
at sun.security.ssl.InputRecord.readFully(InputRecord.java:465)
at sun.security.ssl.InputRecord.read(InputRecord.java:503)
at sun.security.ssl.SSLSocketImpl.readRecord(SSLSocketImpl.java:973)
at sun.security.ssl.SSLSocketImpl.readDataRecord(SSLSocketImpl.java:930)
at sun.security.ssl.AppInputStream.read(AppInputStream.java:105)
at org.apache.maven.wagon.providers.http.httpclient.impl.io.SessionInputBufferImpl.streamRead(SessionInputBufferImpl.java:136)
at org.apache.maven.wagon.providers.http.httpclient.impl.io.SessionInputBufferImpl.fillBuffer(SessionInputBufferImpl.java:152)
at org.apache.maven.wagon.providers.http.httpclient.impl.io.SessionInputBufferImpl.readLine(SessionInputBufferImpl.java:270)
at org.apache.maven.wagon.providers.http.httpclient.impl.conn.DefaultHttpResponseParser.parseHead(DefaultHttpResponseParser.java:140)
at org.apache.maven.wagon.providers.http.httpclient.impl.conn.DefaultHttpResponseParser.parseHead(DefaultHttpResponseParser.java:57)
at org.apache.maven.wagon.providers.http.httpclient.impl.io.AbstractMessageParser.parse(AbstractMessageParser.java:260)
at org.apache.maven.wagon.providers.http.httpclient.impl.DefaultBHttpClientConnection.receiveResponseHeader(DefaultBHttpClientConnection.java:161)
at org.apache.maven.wagon.providers.http.httpclient.impl.conn.CPoolProxy.receiveResponseHeader(CPoolProxy.java:153)
at org.apache.maven.wagon.providers.http.httpclient.protocol.HttpRequestExecutor.doReceiveResponse(HttpRequestExecutor.java:271)
at org.apache.maven.wagon.providers.http.httpclient.protocol.HttpRequestExecutor.execute(HttpRequestExecutor.java:123)
at org.apache.maven.wagon.providers.http.httpclient.impl.execchain.MainClientExec.execute(MainClientExec.java:254)
at org.apache.maven.wagon.providers.http.httpclient.impl.execchain.ProtocolExec.execute(ProtocolExec.java:195)
at org.apache.maven.wagon.providers.http.httpclient.impl.execchain.RetryExec.execute(RetryExec.java:86)
at org.apache.maven.wagon.providers.http.httpclient.impl.execchain.RedirectExec.execute(RedirectExec.java:108)
at org.apache.maven.wagon.providers.http.httpclient.impl.client.InternalHttpClient.doExecute(InternalHttpClient.java:184)
at org.apache.maven.wagon.providers.http.httpclient.impl.client.CloseableHttpClient.execute(CloseableHttpClient.java:82)
at org.apache.maven.wagon.providers.http.AbstractHttpClientWagon.execute(AbstractHttpClientWagon.java:832)
at org.apache.maven.wagon.providers.http.AbstractHttpClientWagon.fillInputData(AbstractHttpClientWagon.java:983)
... 56 more


**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** commented

I am very much convinced that this is a problem with your NAT and/or Atlassian Pipelines and I will tell you why:

Nature of HTTP/1.1 connections in connection with Apache HttpClient: all HTTP connections are persistent and can be left open for an indefinite amount of time unless either client or server say `Connection: close`. HttpClient will pool connections until the aforementioned event will happen. If one side closes the connection, it remains stale and the peer has no way to detect that reliably. [Here](https://blog.fastmail.com/2011/06/28/http-keep-alive-connection-timeouts/) and [there](https://hc.apache.org/httpcomponents-client-ga/tutorial/html/connmgmt.html) are good reads on your issue. Closing connections is none of your NAT's business.

How to tackle this issue: first of all, download Maven 3.5.0-beta-1, it includes an all new Maven Wagon version which can have logging be enabled on the **shaded** HttpClient. Read [this](https://hc.apache.org/httpcomponents-client-ga/logging.html) and enable "best for debugging". You'll see all request/response headers and even more important the pool management and how long are connections kept in the pool. Share them here.

Counter measures: HttpClient offers a lot of config params how connections are treated which are not exposed via Wagon because no one ever needed them. What you can try immediately is to pass `-Dmaven.wagon.http.pool=false`/`-Dhttp.keepAlive=false` or set request header `Connection: close` (performance degregation) in your `settings.xml`.

`PoolingHttpClientConnectionManager` offers a lot of other possibilities to solve your issue. Let's see how we get with the stuff above first.


**[Martin Myslík](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=m.myslik)** commented

[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o) Thank you, Michael for your detailed and comprehensive answer. I will try to test this some time during this week and report back to you. I will also link this to my open issue on Bitbucket issue tracker so Atlassian are aware of this.


**[Martin Myslík](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=m.myslik)** commented

I have tried running the following commands on Pipeliens with my example project. These files are the logs from the following builds:

mvn clean install -X
mvn -Dmaven.wagon.http.pool=false clean install -X
mvn -Dhttp.keepAlive=false clean install -X


**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** commented

This looks better now, but we lose pooling/keep alive. Please retry with Maven 3.5.0-beta-1 and enable debugging on HttpClient as advised. See   MNG-6181 also. I want to see connection management debug statements.


**[Martin Myslík](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=m.myslik)** commented

[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o) Thank you very much for your effort. I think that this is something that Atlassian should be fixing in the first place. I am try to run the 3.5 beta Maven build with the extended logging options and provide you with more output logs as soon as I am finished with that.


**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** commented

I think that Atlassian won't do anything becuase of hard AWS configuration. Quoting from [here](http://tldp.org/HOWTO/TCP-Keepalive-HOWTO/overview.html):

> The other useful goal of keepalive is to prevent inactivity from disconnecting the channel. It's a very common issue, when you are behind a NAT proxy or a firewall, to be disconnected without a reason. This behavior is caused by the connection tracking procedures implemented in proxies and firewalls, which keep track of all connections that pass through them. Because of the physical limits of these machines, they can only keep a finite number of connections in their memory. The most common and logical policy is to keep newest connections and to discard old and inactive connections first.

Same is written on Wikipedia. ...wating for your logs.

I am also afraid that `SO_KEEPALIVE` won't help, read [here](https://docs.oracle.com/javase/6/docs/api/java/net/SocketOptions.html#SO_KEEPALIVE) and [here](http://coryklein.com/tcp/2015/11/25/custom-configuration-of-tcp-socket-keep-alive-timeouts.html).


**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** commented

Here is a comprehensive overview on SO.


**[Martin Myslík](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=m.myslik)** commented

I tried building with Maven 3.5.0-beta locally so here is the log containing the output.

Unfortunately, I am not able to test this on Pipelines since I am don't have a Docker image with this Maven version.

I tried to configure log4j2 to contain all the debugging information, I hope I manage to do it correctly. Please, let me know if something is missing.

You can find the example project repo with configuration here: https://bitbucket.org/Smedzlatko/del-me


**[Martin Myslík](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=m.myslik)** commented

[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o) I managed to manually download and set the patched 3.5.0 Maven version on Pipelines and run the build there so this is the log for the failing build.

Still not sure if I managed to configure all the logging correctly but will do my best to provide you with all necessary output details.


**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** commented

Not quite, please add the following to the command line and rerun:

```
-Dorg.slf4j.simpleLogger.log.org.apache.http=DEBUG
-Dorg.slf4j.simpleLogger.log.org.apache.http.wire=ERROR
-Dorg.slf4j.simpleLogger.log.org.apache.http.impl.conn=DEBUG
-Dorg.slf4j.simpleLogger.log.org.apache.http.impl.client=DEBUG
-Dorg.slf4j.simpleLogger.log.org.apache.http.client=DEBUG
```



**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** commented

My bad, it has to be:

```
-Dorg.slf4j.simpleLogger.log.org.apache.maven.wagon.providers.http.httpclient=DEBUG
-Dorg.slf4j.simpleLogger.log.org.apache.maven.wagon.providers.http.httpclient.wire=ERROR
-Dorg.slf4j.simpleLogger.log.org.apache.maven.wagon.providers.http.httpclient.impl.conn=DEBUG
-Dorg.slf4j.simpleLogger.log.org.apache.maven.wagon.providers.http.httpclient.impl.client=DEBUG
-Dorg.slf4j.simpleLogger.log.org.apache.maven.wagon.providers.http.httpclient.client=DEBUG
```



**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** commented

Log inspected and it confirms my assumption:
last successful use of `http-outgoing-10` was Tue, 04 Apr 2017 10:12:12 GMT. Right after 2017-04-04 10:18:16.512 the connection was reused and failed with a reset. All other connections failed too because they were too old. We have 6 min diff. The `SO_KEEPALIVE` is pointless because we cannot manipulate the socket keepalive interval from Java. Default is 2 h on most operating systems.

I have reuploaded the JAR with a different patch. Please retry.


**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** commented

Another updated JAR uploaded, the previous change was pointless. Please test and add the classname who is issuing the message.


**[Martin Myslík](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=m.myslik)** commented

[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o) Hi Michael. It seems that your last fix worked and the build passed. I am amazed, good job! Here comes the log of the last build.

Could you tell me what is the nature of your last fix?


**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** commented

OK, great. Let me clarify first why I do think that client and server behave correctly though I have not seen a Wireshark capture (can you provide one from the client side?):

[RFC 7230, Section 6.5](https://tools.ietf.org/html/rfc7230#section-6.5) says:

> A client or server that wishes to time out SHOULD issue a graceful
> close on the connection.  Implementations SHOULD constantly monitor
> open connections for a received closure signal and respond to it as
> appropriate, since prompt closure of both sides of a connection
> enables allocated system resources to be reclaimed.
> 
> A client, server, or proxy MAY close the transport connection at any
> time.  For example, a client might have started to send a new request
> at the same time that the server has decided to close the "idle"
> connection.  From the server's point of view, the connection is being
> closed while it was idle, but from the client's point of view, a
> request is in progress.

and now the answer to that from the [Apache HttpClient, Chapter 2.5](https://hc.apache.org/httpcomponents-client-ga/tutorial/html/connmgmt.html#d5e418):

> One of the major shortcomings of the classic blocking I/O model is that the network socket can react to I/O events only when blocked in an I/O operation. When a connection is released back to the manager, it can be kept alive however it is unable to monitor the status of the socket and react to any I/O events. If the connection gets closed on the server side, the client side connection is unable to detect the change in the connection state (and react appropriately by closing the socket on its end).

So the NAT closes the connection, but our client cannot detect that due to blocking I/O, it first fails with the next request.

There are basically two ways to solve that with HttpClient:

1. Set an upper TTL for all connections at construction time
2. Spawn an evictor thread which probes connection in the background

I have chosen to go with 1. Why? While 2 is directly supported by HttpClient, Wagon's code is structured in a way that it does not close the HttpClient (leakage), but this is absolutely required to shutdown the thread properly.
The first one is pretty cheap as it compares timestamps during `leaseConnection` only.

This is what I did:

```
diff --git a/wagon-providers/wagon-http/src/main/java/org/apache/maven/wagon/providers/http/AbstractHttpClientWagon.java b/wagon-providers/wagon-http/src/main/java/org/apache/maven/wagon/providers/http/AbstractHttpClientWagon.java
old mode 100755
new mode 100644
index 405f55e..8075c69
--- a/wagon-providers/wagon-http/src/main/java/org/apache/maven/wagon/providers/http/AbstractHttpClientWagon.java
+++ b/wagon-providers/wagon-http/src/main/java/org/apache/maven/wagon/providers/http/AbstractHttpClientWagon.java
@@ -355,7 +355,7 @@
                                                                                                                  PlainConnectionSocketFactory.INSTANCE ).register(
             "https", sslConnectionSocketFactory ).build();
 
-        PoolingHttpClientConnectionManager connManager = new PoolingHttpClientConnectionManager( registry );
+        PoolingHttpClientConnectionManager connManager = new PoolingHttpClientConnectionManager( registry, null, null, null, 3L, TimeUnit.MINUTES  );
         if ( persistentPool )
         {
             connManager.setDefaultMaxPerRoute( MAX_CONN_PER_ROUTE );
```

Beware that this check only happens when `leaseConnection` is called and not after three minutes.

So the question is how we can implement this best?


**[Martin Myslík](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=m.myslik)** commented

[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o) Thank you, Michael, for the comprehensive answer. I now understand the problem more clearly. I will try to run WIreshark during the Pipelines build and capture the traffic.


**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** commented

You can also use `tcpdump` on the interface. Wireshark will happily read the file.


**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** commented

Read the dump file, it pretty much looks like expected after the patch. Filter for `(ip.dst == 151.101.32.215 || ip.src == 151.101.32.215) && tcp.port == 34456` and see packets 8272, 8363, 8364, 8365, 8366:

```
8272	21.328162	10.244.71.4	151.101.32.215	TCP	68	34456 → 443 [ACK] Seq=154235 Ack=8528726 Win=473728 Len=0 TSval=10874206 TSecr=3108788332
8363	389.026936	10.244.71.4	151.101.32.215	TLSv1.2	99	Encrypted Alert
8364	389.026992	10.244.71.4	151.101.32.215	TCP	68	34456 → 443 [FIN, ACK] Seq=154266 Ack=8528726 Win=473728 Len=0 TSval=11241904 TSecr=3108788332
8365	389.027333	151.101.32.215	10.244.71.4	TCP	56	443 → 34456 [RST] Seq=8528726 Win=1894912 Len=0
8366	389.027427	151.101.32.215	10.244.71.4	TCP	56	443 → 34456 [RST] Seq=8528726 Win=1894912 Len=0
```

Last known request was at 21,3 seconds, 5 minutes passed and the HttpClient knows that it has to evict the connection. I tells the TLS peer to close, sends `FIN, ACK` and waits for an `ACK` likely, but the server has already closed the connection and responds with `RST` for all other connections (see source port).

Can you upload another gzipped dump without the patched JAR? I'd like to see the opposite.


**[Martin Myslík](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=m.myslik)** commented

[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o) Here is the dump for the unpatched jar, as requested.


**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** commented

Checked the unpatched one, it completely resembles the debug output. `TLS 1.2 Application Data` => `RST`. As many times as the connections where open. The `DefaultHttpRequestRetryHandler` kicks in and tries three times. Since we have more than three broken connections, request for `maven-reporting-api-2.2.1.pom` is deemed to fail.

Now, how do you expect the patch to look like? I don't want to close connection by default after `n` min because this is not a regular issue.


**[Matt Nelson](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=mattnelson)** commented

I believe I am running into a similar issue. The stack trace is slightly different because I got it via executing jstack on the hung process. Has there been any additional progress with integrating the changes [Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o) proposed?

```
"BuilderThread 1" #31 prio=5 os_prio=0 tid=0x00007fe198b99800 nid=0x2cce runnable [0x00007fe193606000]
   java.lang.Thread.State: RUNNABLE
	at java.net.SocketInputStream.socketRead0(Native Method)
	at java.net.SocketInputStream.socketRead(SocketInputStream.java:116)
	at java.net.SocketInputStream.read(SocketInputStream.java:171)
	at java.net.SocketInputStream.read(SocketInputStream.java:141)
	at sun.security.ssl.InputRecord.readFully(InputRecord.java:465)
	at sun.security.ssl.InputRecord.read(InputRecord.java:503)
	at sun.security.ssl.SSLSocketImpl.readRecord(SSLSocketImpl.java:983)
	- locked <0x00000000c74f25a0> (a java.lang.Object)
	at sun.security.ssl.SSLSocketImpl.readDataRecord(SSLSocketImpl.java:940)
	at sun.security.ssl.AppInputStream.read(AppInputStream.java:105)
	- locked <0x00000000c74f2178> (a sun.security.ssl.AppInputStream)
	at org.apache.maven.wagon.providers.http.httpclient.impl.io.SessionInputBufferImpl.streamRead(SessionInputBufferImpl.java:139)
	at org.apache.maven.wagon.providers.http.httpclient.impl.io.SessionInputBufferImpl.fillBuffer(SessionInputBufferImpl.java:155)
	at org.apache.maven.wagon.providers.http.httpclient.impl.io.SessionInputBufferImpl.readLine(SessionInputBufferImpl.java:284)
	at org.apache.maven.wagon.providers.http.httpclient.impl.conn.DefaultHttpResponseParser.parseHead(DefaultHttpResponseParser.java:140)
	at org.apache.maven.wagon.providers.http.httpclient.impl.conn.DefaultHttpResponseParser.parseHead(DefaultHttpResponseParser.java:57)
	at org.apache.maven.wagon.providers.http.httpclient.impl.io.AbstractMessageParser.parse(AbstractMessageParser.java:261)
	at org.apache.maven.wagon.providers.http.httpclient.impl.DefaultBHttpClientConnection.receiveResponseHeader(DefaultBHttpClientConnection.java:165)
	at org.apache.maven.wagon.providers.http.httpclient.impl.conn.CPoolProxy.receiveResponseHeader(CPoolProxy.java:167)
	at org.apache.maven.wagon.providers.http.httpclient.protocol.HttpRequestExecutor.doReceiveResponse(HttpRequestExecutor.java:272)
	at org.apache.maven.wagon.providers.http.httpclient.protocol.HttpRequestExecutor.execute(HttpRequestExecutor.java:124)
	at org.apache.maven.wagon.providers.http.httpclient.impl.execchain.MainClientExec.execute(MainClientExec.java:271)
	at org.apache.maven.wagon.providers.http.httpclient.impl.execchain.ProtocolExec.execute(ProtocolExec.java:184)
	at org.apache.maven.wagon.providers.http.httpclient.impl.execchain.RetryExec.execute(RetryExec.java:88)
	at org.apache.maven.wagon.providers.http.httpclient.impl.execchain.RedirectExec.execute(RedirectExec.java:110)
	at org.apache.maven.wagon.providers.http.httpclient.impl.client.InternalHttpClient.doExecute(InternalHttpClient.java:184)
	at org.apache.maven.wagon.providers.http.httpclient.impl.client.CloseableHttpClient.execute(CloseableHttpClient.java:82)
	at org.apache.maven.wagon.providers.http.AbstractHttpClientWagon.execute(AbstractHttpClientWagon.java:834)
	at org.apache.maven.wagon.providers.http.AbstractHttpClientWagon.fillInputData(AbstractHttpClientWagon.java:985)
	at org.apache.maven.wagon.providers.http.AbstractHttpClientWagon.fillInputData(AbstractHttpClientWagon.java:962)
	at org.apache.maven.wagon.StreamWagon.getInputStream(StreamWagon.java:126)
	at org.apache.maven.wagon.StreamWagon.getIfNewer(StreamWagon.java:88)
	at org.apache.maven.wagon.StreamWagon.get(StreamWagon.java:61)
	at org.eclipse.aether.transport.wagon.WagonTransporter$GetTaskRunner.run(WagonTransporter.java:567)
	at org.eclipse.aether.transport.wagon.WagonTransporter.execute(WagonTransporter.java:435)
	at org.eclipse.aether.transport.wagon.WagonTransporter.get(WagonTransporter.java:412)
	at org.eclipse.aether.connector.basic.BasicRepositoryConnector$GetTaskRunner.runTask(BasicRepositoryConnector.java:453)
	at org.eclipse.aether.connector.basic.BasicRepositoryConnector$TaskRunner.run(BasicRepositoryConnector.java:360)
	at org.eclipse.aether.util.concurrency.RunnableErrorForwarder$1.run(RunnableErrorForwarder.java:75)
	at org.eclipse.aether.connector.basic.BasicRepositoryConnector$DirectExecutor.execute(BasicRepositoryConnector.java:583)
	at org.eclipse.aether.connector.basic.BasicRepositoryConnector.get(BasicRepositoryConnector.java:259)
	at org.eclipse.aether.internal.impl.DefaultArtifactResolver.performDownloads(DefaultArtifactResolver.java:498)
	at org.eclipse.aether.internal.impl.DefaultArtifactResolver.resolve(DefaultArtifactResolver.java:399)
	at org.eclipse.aether.internal.impl.DefaultArtifactResolver.resolveArtifacts(DefaultArtifactResolver.java:224)
	at org.eclipse.aether.internal.impl.DefaultArtifactResolver.resolveArtifact(DefaultArtifactResolver.java:201)
	at org.apache.maven.repository.internal.DefaultArtifactDescriptorReader.loadPom(DefaultArtifactDescriptorReader.java:261)
	at org.apache.maven.repository.internal.DefaultArtifactDescriptorReader.readArtifactDescriptor(DefaultArtifactDescriptorReader.java:192)
	at org.eclipse.aether.internal.impl.DefaultDependencyCollector.resolveCachedArtifactDescriptor(DefaultDependencyCollector.java:539)
	at org.eclipse.aether.internal.impl.DefaultDependencyCollector.getArtifactDescriptorResult(DefaultDependencyCollector.java:522)
	at org.eclipse.aether.internal.impl.DefaultDependencyCollector.processDependency(DefaultDependencyCollector.java:411)
	at org.eclipse.aether.internal.impl.DefaultDependencyCollector.processDependency(DefaultDependencyCollector.java:365)
	at org.eclipse.aether.internal.impl.DefaultDependencyCollector.process(DefaultDependencyCollector.java:353)
	at org.eclipse.aether.internal.impl.DefaultDependencyCollector.collectDependencies(DefaultDependencyCollector.java:256)
	at org.eclipse.aether.internal.impl.DefaultRepositorySystem.collectDependencies(DefaultRepositorySystem.java:282)
	at org.apache.maven.project.DefaultProjectDependenciesResolver.resolve(DefaultProjectDependenciesResolver.java:169)
	at org.apache.maven.lifecycle.internal.LifecycleDependencyResolver.getDependencies(LifecycleDependencyResolver.java:223)
	at org.apache.maven.lifecycle.internal.LifecycleDependencyResolver.resolveProjectDependencies(LifecycleDependencyResolver.java:145)
	at org.apache.maven.lifecycle.internal.MojoExecutor.ensureDependenciesAreResolved(MojoExecutor.java:246)
	at org.apache.maven.lifecycle.internal.MojoExecutor.execute(MojoExecutor.java:200)
	at org.apache.maven.lifecycle.internal.MojoExecutor.execute(MojoExecutor.java:154)
	at org.apache.maven.lifecycle.internal.MojoExecutor.execute(MojoExecutor.java:146)
	at org.apache.maven.lifecycle.internal.LifecycleModuleBuilder.buildProject(LifecycleModuleBuilder.java:117)
	at org.apache.maven.lifecycle.internal.builder.multithreaded.MultiThreadedBuilder$1.call(MultiThreadedBuilder.java:200)
	at org.apache.maven.lifecycle.internal.builder.multithreaded.MultiThreadedBuilder$1.call(MultiThreadedBuilder.java:196)
	at java.util.concurrent.FutureTask.run(FutureTask.java:266)
	at java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)
	at java.util.concurrent.FutureTask.run(FutureTask.java:266)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
```



**[Matt Nelson](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=mattnelson)** commented

Jumped the gun on this one a little bit, turns out the root cause was actually MRESOLVER-25


**[Matt Nelson](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=mattnelson)** commented

[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o) I thought it was a similar issue based on a large percentage of the stack trace being down the same path. Discovered after some more troubleshooting that it was actually MRESOLVER-25 since I was able to fix the stuck build with the proposed workaround.
