[WAGON-478] WebDavWagon accepts SC_OK for MKCOL

**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** opened **[WAGON-478](https://issues.apache.org/jira/browse/WAGON-478?redirect=false)** and commented

According to [RFC 4918, section 9.3.1](https://tools.ietf.org/html/rfc4918#section-9.3.1) the only 2xx status code to be returned/accepted is 201 (`SC_CREATED`), but not 200 (`SC_OK`).

This should be cleaned up to be standards compliant.


---

**Affects:** 2.11

**Issue Links:**
- [WAGON-477](https://issues.apache.org/jira/browse/WAGON-477) Tests from HttpWagonTestCase executed from WebDavWagonTestCase never see the DavServlet



**[Michael Osipov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=michael-o)** commented

Fixed with [5fbd51eb194f97fb97af8b43d2070da7ce577fe3](https://gitbox.apache.org/repos/asf?p=maven-wagon.git;a=commit;h=5fbd51eb194f97fb97af8b43d2070da7ce577fe3).
