[WAGON-284] Artifacts are uploaded twice in the case of HTTP redirection

**[Alex Hvostov](https://issues.apache.org/jira/secure/ViewProfile.jspa?name=argv)** opened **[WAGON-284](https://issues.apache.org/jira/browse/WAGON-284?redirect=false)** and commented

When deploying to an HTTP (not DAV) repository, if the request is redirected, the artifact is uploaded twice: once for the original request, and then again at the redirect location.

Please consider using "Expect: 100-continue" when uploading, so as not to waste bandwidth in the case of a redirect. See RFC 2616 section 8.2.3.


---

**Affects:** 1.0-beta-6

**Issue Links:**
- [WAGON-277](https://issues.apache.org/jira/browse/WAGON-277) HttpClient wagon (wagon-http) uploads all files twice when preemptive authentication is disabled

- [WAGON-314](https://issues.apache.org/jira/browse/WAGON-314) Permament move (error 301) not handled properly by Lightweight HTTP Wagon

